html, body {
  background-color: slategray;
  height: 100%;
}

.searchBox {
  border: 2px solid black;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}
/* .card {
  margin-bottom: 1.5rem;
  margin-top: 3.0rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 3px solid black;
} */

.card-divider {
  background-color: blue;
}

.bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(35, 56, 95);
  color: white;
  margin-top: 3em;
  align-content: bottom;

}

a {
  margin-left: 1em;
  margin-right: 1em;
  color: white;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}